/* styles.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

.table th {
    border: 1px solid var(--background-modifier-border);
    padding: 8px;
    background-color: var(--background-secondary)
}
.table td {
    border: 1px solid var(--background-modifier-border);
    padding: 8px;
}

.butDiv {
    margin-bottom: 8px;
    margin-right: 8px;
}

.search {
    width: 100%;            
    margin-bottom: 8px;
    margin-right: 8px;
}

.butDiv input:not(.search) {
    width: 50px;
    margin-left: 5px;
}

.button {
    margin-right: 5px;
}

.search {
    width: 100%;            
    margin-bottom: 8px;
    margin-right: 8px;
}